.containerTable {
    height: 100%;
    place-items: center;
    display: grid !important;
}

.containerConteudo__containerConverter,
.containerConteudo__containerTabela {
    width: 450px;
    height: 410px;
    padding: 40px;
    margin-left: auto;

    background-color: #37AFC8;
}

.containerConverter__informacaoInput {
    margin-bottom: 0px;
}

.containerConverter__informacaoInput label {
    color: #0F6195;
}

.containerConverter__informacaoInput>span {
    color: #8B0000;
}

.containerConverter__select {
    cursor: pointer;
}

.containerConverter__input--disabled {
    cursor: not-allowed;

    background-color: #fff !important;
}

.containerConverter__button {
    border-radius: 15px !important;

    background-color: #0F6195 !important;
}

.containerTabela__titulo--cor {
    color: #fff;
}

.containerTabela__paginacao--ativo {
    cursor: pointer;
    color: #0d6efd !important;
}

.containerTabela__paginacao--desativo {
    cursor: default;
    color: #e6e6e6 !important;
}

.containerTabela__paginacao--desativo:hover {
    background-color: #fff !important;
}

.containerTabela__paginacao--backgoundPaginacaoAtual {
    background-color: #0d6efd !important;
    border-color: #0d6efd !important;
    color: #fff !important;
}

.containerTabela__paginacao--backgoundPaginacaoEspera {
    background-color: #fff !important;
    border-color: #dee2e6 !important;
}

.containerModal__body--table {
    border: 2px solid black;
    background-color: #37afc8;
    color: #fff;
}

.containerModal__ButtonClose--table {
    top: 3px;
    right: 5px;
}

.containerModal__containerButtonClear--table {
    margin-top: 20px !important;
}

@media screen and (max-width:990px) {

    .containerTable {
        margin-bottom: 16px;
    }

    .containerConteudo__containerTabela,
    .containerConteudo__containerConverter {
        margin: auto !important;
    }
}